mat-card {
    max-width: 90%;
    margin: auto;
    margin-top: 2em;
    .details-wrapper {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 500px;
    }
     .profile-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
     }
    .avatar-image {
        border-radius: 100%;
        width: 200px;
        height: 200px;
    }
    .go-back-button{
        margin-top: 10px;
        margin-left: 10px;
    }
}